services:
  nostrudel:
    image: ghcr.io/hzrd149/nostrudel:0.46.1
    container_name: nostrudel
    labels:
      yantr.name: "noStrudel"
      yantr.logo: "QmQd78JBNgAnVAAk6Ux6Jo3tHUXLyzjYeaRZ1EXwMFzHNe"
      yantr.category: "social"
      yantr.port: "80 (HTTP - Web UI)"
      yantr.description: "A nostr web client sandbox for exploring and learning the inner workings of the nostr network"
      yantr.website: "https://github.com/hzrd149/nostrudel"
    ports:
      - "80"
    environment:
      CORS_PROXY: nostrudel-cors:8080
    depends_on:
      - nostrudel-cors
    init: true
    restart: unless-stopped

  nostrudel-cors:
    image: ghcr.io/hzrd149/docker-cors-anywhere:0.4.5
    container_name: nostrudel-cors
    environment:
      CORSANYWHERE_REQUIRE_HEADERS: host
    restart: unless-stopped
